<footer class="flex flex-col justify-center items-center py-8">
    <p class="text-light-textPrimary dark:text-dark-textPrimary">I'm ready to work with you!</p>
    <p class="font-bold">&copy; Kevin Antonio Montano Aquino</p>
</footer>