<header class="flex justify-between items-center w-full max-w-[inherit] h-16 overflow-hidden fixed backdrop-blur-[10px] z-50">
    <img class="h-full rounded-full p-2" src="https://avatars.githubusercontent.com/u/138035161?s=96&v=4" alt="imagen de perfil de Kevin Montano">

    <nav class="">
        <ul class="flex justify-between items-center">
            <li>
                <a href="/" class="py-2 px-3 hover:bg-gradient-to-r hover:from-[#9D59EF] hover:to-[#F8DB9C] hover:bg-clip-text hover:text-transparent">Home</a>
                <div class="h-[2px] w-0 bg-gradient-to-r from-[#9D59EF] to-[#F8DB9C] transition-all duration-300"></div>
            </li>
            <li>
                <a href="#about" class="py-2 px-3 hover:bg-gradient-to-r hover:from-[#9D59EF] hover:to-[#F8DB9C] hover:bg-clip-text hover:text-transparent ">About</a>
                <div class="h-[2px] w-0 bg-gradient-to-r from-[#9D59EF] to-[#F8DB9C] transition-all duration-300"></div>
            </li>
            <li>
                <a href="#projects" class="py-2 px-3 hover:bg-gradient-to-r hover:from-[#9D59EF] hover:to-[#F8DB9C] hover:bg-clip-text hover:text-transparent">Projects</a>
                <div class="h-[2px] w-0 bg-gradient-to-r from-[#9D59EF] to-[#F8DB9C] transition-all duration-300"></div>
            </li>
            <li>
                <a href="#skills" class="py-2 px-3 hover:bg-gradient-to-r hover:from-[#9D59EF] hover:to-[#F8DB9C] hover:bg-clip-text hover:text-transparent">Skills</a>
                <div class="h-[2px] w-0 bg-gradient-to-r from-[#9D59EF] to-[#F8DB9C] transition-all duration-300"></div>
            </li>
        </ul>
    </nav>
</header>

<style>
    a:hover ~ div {
        width: 100%;
    }
</style>


