---
import  { basic } from '../../cv.json';
import SkillBadge from './ui/SkillBadge.astro';

const { skills } = basic
---

<article class="mt-2">
    <h2 class="font-bold mb-2 text-center text-lg sm:text-xl text-light-white dark:text-white">My Skills</h2>
    <div class="w-full flex flex-col gap-2 overflow-hidden select-none bg-light-surface p-3 rounded-md dark:bg-transparent">
        <ul class="flex flex-wrap gap-1 justify-center">
            {
                skills.map(({name,level}) => <SkillBadge name={name} />)
            }
        </ul>
    </div>
</article>